@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=block');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=block');

:root {
  --max-width: 1440px;
  --font-mono: 'Montserrat', Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  /* Colors */
  --blue: #343967;
  --gray: #8d99ad;
  --green: #55d6be;
  --white: #ffffff;
  --black: #292727;
  --orange: #c53e00;

  /* Other */
  --border-radius: 100px;
  --lg-padding: 80px;
  --xs-padding: 30px;

  --hard-shadow: 0px 2px 3px 0px #0000001a, 0px 6px 6px 0px #00000017,
    0px 14px 8px 0px #0000000d, 0px 25px 10px 0px #00000003,
    0px 39px 11px 0px #00000000;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Montserrat', Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

.MuiTypography-root {
  font-family: 'Montserrat', Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  line-height: 1.2;
}

/* .MuiAccordion-root.Mui-expanded {
  margin: 0
}
 */
div {
  box-sizing: border-box;
}
